---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="공팔무한">
  <div id="intro" class="min-h-screen flex items-center justify-center bg-black cursor-pointer">
    <img src="/assets/0800_white.png" alt="logo" width="160" height="56" />
  </div>
  <div id="home" class="hidden flex-col items-center justify-center flex-1 bg-gray-100">
    <img src="/assets/0800_black.png" alt="logo" width="104" height="36" />
  </div>
</BaseLayout>

<script>
  const intro = document.getElementById('intro');
  const home = document.getElementById('home');

  intro?.addEventListener('click', () => {
    intro.classList.add('hidden');
    home?.classList.remove('hidden');
    home?.classList.add('flex');
  });
</script>
